---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true 
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-12 col-sm-12">
      {% for post in site.publications reversed %}
        {% include archive-single.html %}
      {% endfor %}
    </div>
  </div>
</div>




